.st0 {
  fill: #FFFFFF;
}

.st1 {
  fill: none;
  stroke: #EAEAEA;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #FFFFFF;
  stroke: #EAEAEA;
  stroke-miterlimit: 10;
}

.st3 {
  fill: #F05345;
}

.st4 {
  fill: #FFB440;
}

.st5 {
  fill: #9AC740;
}

.st6 {
  fill: url(#XMLID_6_);
}

.st7 {
  fill: url(#XMLID_7_);
}

.st8 {
  fill: url(#XMLID_11_);
}

.st9 {
  fill: #D8D9D9;
}

.st10 {
  fill: none;
}

.st11 {
  fill: #CFCFCF;
}

.st12 {
  font-family: 'SegoeUI';
}

.st13 {
  font-size: 17px;
}

.st14 {
  font-size: 14px;
}

.st15 {
  font-family: 'SegoeUI-Semibold';
}

.st16 {
  font-size: 15px;
}

.st17 {
  fill: #C4C4C4;
}

.st18 {
  fill: #B5B5B5;
}

.st19 {
  font-size: 33px;
}

.st20 {
  font-size: 68px;
}

.st21 {
  fill: #92CE5D;
}

.st22 {
  font-size: 30px;
}

.st23 {
  font-size: 46px;
}

image {
  overflow: visible;
  opacity: 0.18;
  enable-background: new;
}


.whole-food-drink {
  fill: #9AC740;
}

.refreshing-drink {
  fill: #FFB440;
}

.smoothie {
  fill: #F05345;
}

.soup {
  fill: #FFE740;
}

.frozen-treat {
  fill: #9085D9;
}

tspan {
  fill: #FFFFFF;
}

.medium-text{
  tspan{
    fill: #B5B5B5;
  }
}

.light-text{
 tspan{
  fill: #FFFFFF
 }
}

.react-multi-carousel-list{
  height: 230px;
  width: 70%;
    margin: auto;
}

svg{
  width: 50%;
}