@import "~bootstrap/scss/bootstrap";



.App {
  text-align: center;
  width: 70%;
  margin: auto;
}

.day-circle,
.day-text {
  cursor: pointer;
}


.react-date-picker {
  width: 100%;
}
.react-date-picker__inputGroup{
  padding: 10px;
}

.react-date-picker__wrapper{
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
}