.color-viz {
  display: flex;
  justify-content: center;

  .color-viz-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    width: 80px;
  }

  .color-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .name {
    font-size: 12px;
  }

  .whole-food-drink {
    background-color: #9AC740;
  }

  .refreshing-drink {
    background-color: #FFB440;
  }

  .smoothie {
    background-color: #F05345;
  }

  .soup {
    background-color: #FFE740;
  }

  .frozen-treat {
    background-color: #9085D9;
  }

  .tea {
    background-color: #AF895F;
  }

}